
@{
    Layout = null;
}

<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="fresh Gray Bootstrap 3.0 Responsive Theme ">
    <meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap,Bootstrap 3.0 Responsive Login">
    <meta name="author" content="Adsays">
    <link rel="shortcut icon" href="favicon.png">
    <title>SportsSide - Şifremi Unuttum</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link rel="stylesheet" id="fordemo" href="~/css/login-theme-2.css" type="text/css">
    <link href="~/css/animate-custom.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
</head>
<body class="fade-in">
    <!-- start Login box -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-12 col-sm-offset-3 col-md-offset-3">

                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="~/img/user-icon.png" alt="Key icon">
                    </div>
                    <div class="login-logo">
                        <div class="row">
                            <a href="http://localhost:10988/"><img src="~/img/accountLogo.png" alt="Company Logo"></a>
                        </div>

                        <div class="row">
                            <span style="font-size:26px; color:#000;">SportsSide</span>
                        </div>
                    </div>
                    <hr>
                    <div class="login-form">

                        <input type="text" name="email" id="email" placeholder="E-Mailinizi Giriniz" />

                        <button type="submit" class="btn btn-login" id="sifre">Şifre Sıfırla</button>
                        <button class="aaa" id="@Url.Action("login","Account")" style="display:none"></button>
                        <button class="aaab" id="@Url.Action("Forgot_Password", "Account")" style="display:none"></button>

                        <!-- Start Error box -->
                    </div>
                    <div class="login-links">
                        <a href="/Account/login">
                            Login Sayfası
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  
                    <h5 class="modal-title" id="exampleModalLabel">HATA</h5>
                </div>
                <div class="modal-body">
                    Girilen E-Posta adresi sistemimize Kayıtlı değildir(Kayıt yok veya Hatalı giriş).
                </div>
                <div class="modal-footer">          
                    @Html.ActionLink("Tekrar Dene", "MailTekrar", "Account", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                 
                    <h5 class="modal-title">Hata</h5>
                </div>
               
                <div class="modal-body">
                    E-Posta Adresi Boş Girilemez!
           
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Tekrar Dene", "MailTekrar", "Account", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hata</h5>
                </div>
                <div class="modal-body">
                    Hatalı E-Posta Adresi Girdiniz!
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Tekrar Dene", "MailTekrar", "Account", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>



</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/sweetalert.min.js"></script>
<script src="~/js/login.js"></script>
