@model SportsSide.DAL.SLIDER

@{
    ViewBag.Title = "Delete";
}

<div id="overlay"></div>
<div id="frame">
    <img id="main" src="" alt="" />
</div>

<h3>Seçili slider'ı silmek istediğinize emin misiniz?</h3>
<div>
    <hr />

    @using (Html.BeginForm(Html.BeginForm("Delete", "Sliders", FormMethod.Post, new { @class = "form-horizontal", role = "form" })))
    {
        @Html.HiddenFor(model => model.SLIDER_ID);
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (TempData["Hata"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Hay aksi!</strong> @TempData["Hata"].ToString()
                </div>
            }
            <div class="form-group">
                @Html.Label("Slider Açıklaması :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 control-label" style="text-align:left;">
                    @Html.DisplayFor(model => model.SLIDER_DESCRIPTION)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Slider Fotoğrafı :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 control-label" style="text-align:left;">
                    <img id="smallFtImage" src="@Model.SLIDER_PICTURE" alt="" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sil" class="btn btn-danger" />
                    <input type="button" value="Vazgeç" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Sliders")'" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Geri Dön", "Index")
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/slider.js"></script>
<link href="~/css/style.css" rel="stylesheet" />