@model PagedList.IPagedList<SportsSide.DAL.CITY>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Şehirler</h2>

<p>
    <input type="button" value="Yeni Oluştur" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Cities")'" />
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        Şehirler
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Şehir Adı
                    </th>
                    <th>
                        Şehir Kodu
                    </th>
                    <th>
                        Bölge Adı
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CITY_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CITY_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CITY_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AREA.AREA_NAME)
                        </td>
                        <td>
                            <input type="button" value="Düzenle" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Edit", "Cities", new { id = item.CITY_ID})'" />
                            <input type="button" value="Sil" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Cities", new { id = item.CITY_ID})'" />
                        </td>
                    </tr>
                }
            </table>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">

                    @*Sayfalandırma kodu*@
                    <br /> Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                </li>
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/layout.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/style.css" />
